<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/navigation.css" rel="stylesheet"/>
        <title></title>
    </head>
    <body>
        <div class="grid-controller">
            <div class="header">
                <ul class="menu">
                    <!-- Floated Left -->
                    <li style="font-size: xx-large;"><a href="/">Youtube Downloader</a></li>
                    <!-- floated right -->
                    <li class="floatRight"><a>Settings</a></li>
                    <li class="floatRight"><a>Home</a></li>                    
                </ul>
            </div>
        </div>
    </body>
</html>